.background {
  background-image: url(/bg-skills.png), url(/bg-about.png), url(/bg-future.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0px 400px, 0px -40px, 0px bottom;
  background-size: 100% 33%, 100% auto, 100% auto;
}
